body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* изменено с center на flex-start */
  height: 100vh;
  margin: 0;
}

input,
button {
  margin: 10px;
}

input {
  width: 120px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  border: green 2px solid;
  text-align: center;
  font-size: 15px;
  outline: none;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Стили для светлой темы */
.theme-toggle-thumb {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #4D4D4D;
  /* Цвет круга для светлой темы */
  transition: transform 0.2s, background-color 0.2s;
}

/* Стили для темной темы */
[data-theme="dark"] .theme-toggle-thumb {
  background-color: white;
  /* Цвет круга для темной темы */
}

/* Остальные стили переключателя */
.theme-switcher {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 44px;
}

.theme-toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-track {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 44px;
  position: absolute;
  inset: 0;
  transition: background-color 0.2s;
}

.theme-toggle-checkbox:checked+.theme-toggle-track {
  background-color: #4D4D4D;
}

.theme-toggle-checkbox:checked+.theme-toggle-track .theme-toggle-thumb {
  transform: translateX(38px);
}

.white-icon {
  color: #fff;
  font-size: 24px;
  /* Увеличение размера иконки */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fi-rr-moon-stars {
  color: #000000;
  font-size: 24px;
  /* Увеличение размера иконки */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: rotate(-20deg);
}

.theme-toggle-thumb i {
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switcher {
  margin-left: 20px;
  /* Расстояние между заголовком и переключателем */
}

[data-theme="dark"] input {
  background-color: #7f7e7e;
  /* Серый фон для полей ввода в темной теме */
  color: #ffffff;
  /* Цвет шрифта для полей ввода в темной теме */
}

#numberWarning {
  position: fixed;
  display: none;
  background-color: red;
  color: white;
  /* Текст уведомления белого цвета */
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  /* Убедитесь, что уведомление находится поверх других элементов */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  width: 160px;
  /* or any other value that suits your design */
  height: 60px;
  /* or any other value that suits your design */
  background-color: green;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#nanWarning {
  position: fixed;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

/* Increase size for max-width: 600px */
@media screen and (max-width: 600px) {
  .theme-switcher {
    width: 70px;
    /* Increase width */
    height: 42px;
    /* Increase height */
  }

  .theme-toggle-thumb {
    width: 38px;
    /* Increase width to fit inside the switch */
    height: 38px;
    /* Increase height proportionally */
  }

  .theme-toggle-checkbox:checked+.theme-toggle-track .theme-toggle-thumb {
    transform: translateX(32px);
    /* Update translateX value to keep the circle inside the switch */
  }
}

/* Increase size for max-width: 500px */
@media screen and (max-width: 500px) {
  .theme-switcher {
    width: 60px;
    /* Increase width */
    height: 34px;
    /* Increase height */
  }

  .theme-toggle-thumb {
    width: 30px;
    /* Increase width of the circle */
    height: 30px;
    /* Increase height proportionally */
  }

  .theme-toggle-checkbox:checked+.theme-toggle-track .theme-toggle-thumb {
    transform: translateX(25px);
    /* Update translateX value */
  }
}

/* Increase size for max-width: 370px */
@media screen and (max-width: 370px) {
  .theme-switcher {
    width: 60px;
    /* Increase width */
    height: 34px;
    /* Increase height */
  }

  .theme-toggle-thumb {
    width: 30px;
    /* Increase width of the circle */
    height: 30px;
    /* Increase height proportionally */
  }

  .theme-toggle-checkbox:checked+.theme-toggle-track .theme-toggle-thumb {
    transform: translateX(25px);
    /* Update translateX value */
  }
}

#multipleResults {
  transform: scale(0.8);
  vertical-align: middle;
}

#multipleResultsLabel {
  display: inline-block;
  vertical-align: middle;
}

#multipleResultsContainer {
  display: flex;
  align-items: center;
}

.checkbox-more {
  cursor: pointer;
}

#multipleResultsLabel {
  margin-right: -45px;
  /* Adjust the value as needed */
}

#multipleResults {
  transform: scale(0.7);
  /* Adjust the scale value as needed */
}

.login-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  /* Установите нужную ширину */
}

/* Появление */
.overlay {
 visibility: hidden;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0,0.4);
}

/* Содержимое всплывающего окна */
.overlay-content {
 position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 200px;
 text-align: center;
 margin-top: 30px;
 padding: 20px;
 border: 1px solid #888;
 background-color: #fefefe;
}

/* Кнопка закрытия */
.close {
 color: #aaaaaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: #000;
 text-decoration: none;
 cursor: pointer;
}
